apiVersion: apps/v1

kind: Deployment

metadata:

  name: myapp-deployment

spec:

  replicas: 1

  selector:

    matchLabels:

      app: myapp

  template:

    metadata:

      labels:

        app: myapp

    spec:

      containers:

      - name: myapp-container

        image: busybox

        command: [ "/bin/sh", "-c", "while true; do echo 'Hello from BusyBox!'; sleep 10; done" ]

      tolerations:

      - key: "special"

        operator: "Equal"

        value: "true"

        effect: "NoExecute"